upstream/xerces2-j/tests/dom/dom3/schema_imp.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:simpleType name="strType">
	<xs:restriction base="xs:string">
		<xs:minLength value="50"/>
	</xs:restriction>
</xs:simpleType>

<xs:element name="decVal" type="xs:decimal"/>

<xs:group name="elemGroup">
	<xs:sequence>
		<xs:element name="strVal" type="strType"/>
		<xs:element ref="decVal"/>
	</xs:sequence>
</xs:group>

</xs:schema>