upstream/xerces2-j/tests/schema/annotations/XSAttributeAnnotationsTest01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="XSAttributeAnnotationsTest"
    xmlns:sv="XSAttributeAnnotationsTest">

    <attribute name="attr" type="string">
    </attribute>

    <element name="root">
        <complexType>
            <sequence>
                <element name="elString" type="string" />
            </sequence>
        </complexType>
    </element>

</schema>