upstream/xerces2-j/tests/schema/annotations/XSModelGroupDefinitionTest01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="XSModelGroupDefn" xmlns:sv="XSModelGroupDefn"
    xmlns:sn="SyntheticAnnotation">

    <group name="group1">
        <sequence></sequence>
    </group>

    <group name="group2" sn:att="ANNOT1">
        <choice></choice>
    </group>

    <group name="group3">
        <annotation id="ANNOT1"></annotation>
        <all></all>
    </group>

    <group name="group4" sn:att="ANNOT2">
        <annotation id="ANNOT2"></annotation>
        <all></all>
    </group>

</schema>