connectors/csws/wsdls/Authentication.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:authws.services.ecm.opentext.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:authws.services.ecm.opentext.com" name="AuthenticationService">
<message name="AuthenticationMessageHeader">
<part xmlns:ns1="urn:api.ecm.opentext.com" name="AuthenticationHeader" element="ns1:OTAuthentication"/>
</message>
<types>
<xsd:schema xmlns:ecs="urn:api.ecm.opentext.com" elementFormDefault="qualified" targetNamespace="urn:api.ecm.opentext.com">
<xsd:element name="OTAuthentication" type="ecs:OTAuthentication"/>
<xsd:complexType name="OTAuthentication">
<xsd:sequence>
<xsd:element name="AuthenticationToken" maxOccurs="1" minOccurs="0" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="urn:authws.services.ecm.opentext.com" schemaLocation="https://athene-au-fe1.inet-test.comp.db.de:443/otdsws/services/Authentication?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="urn:api.ecm.opentext.com" schemaLocation="https://athene-au-fe1.inet-test.comp.db.de:443/otdsws/services/Authentication?xsd=2"/>
</xsd:schema>
</types>
<message name="AuthenticateWithToken">
<part name="parameters" element="tns:AuthenticateWithToken"/>
</message>
<message name="AuthenticateWithTokenResponse">
<part name="parameters" element="tns:AuthenticateWithTokenResponse"/>
</message>
<message name="AuthenticationException">
<part xmlns:ns2="urn:api.ecm.opentext.com" name="fault" element="ns2:AuthenticationException"/>
</message>
<message name="AuthenticateWithTokenAndCode">
<part name="parameters" element="tns:AuthenticateWithTokenAndCode"/>
</message>
<message name="AuthenticateWithTokenAndCodeResponse">
<part name="parameters" element="tns:AuthenticateWithTokenAndCodeResponse"/>
</message>
<message name="Authenticate">
<part name="parameters" element="tns:Authenticate"/>
</message>
<message name="AuthenticateResponse">
<part name="parameters" element="tns:AuthenticateResponse"/>
</message>
<message name="AuthenticateWithPasswordAndCode">
<part name="parameters" element="tns:AuthenticateWithPasswordAndCode"/>
</message>
<message name="AuthenticateWithPasswordAndCodeResponse">
<part name="parameters" element="tns:AuthenticateWithPasswordAndCodeResponse"/>
</message>
<message name="AuthenticateCurrentUser">
<part name="parameters" element="tns:AuthenticateCurrentUser"/>
</message>
<message name="AuthenticateCurrentUserResponse">
<part name="parameters" element="tns:AuthenticateCurrentUserResponse"/>
</message>
<message name="AuthenticateCurrentUserWithCode">
<part name="parameters" element="tns:AuthenticateCurrentUserWithCode"/>
</message>
<message name="AuthenticateCurrentUserWithCodeResponse">
<part name="parameters" element="tns:AuthenticateCurrentUserWithCodeResponse"/>
</message>
<message name="GetResourceId">
<part name="parameters" element="tns:GetResourceId"/>
</message>
<message name="GetResourceIdResponse">
<part name="parameters" element="tns:GetResourceIdResponse"/>
</message>
<message name="GetTicketForUser">
<part name="parameters" element="tns:GetTicketForUser"/>
</message>
<message name="GetTicketForUserResponse">
<part name="parameters" element="tns:GetTicketForUserResponse"/>
</message>
<portType name="Authentication">
<operation name="AuthenticateWithToken">
<input wsam:Action="urn:authws.services.ecm.opentext.com:Authentication:AuthenticateWithTokenRequest" message="tns:AuthenticateWithToken"/>
<output wsam:Action="urn:authws.services.ecm.opentext.com:Authentication:AuthenticateWithTokenResponse" message="tns:AuthenticateWithTokenResponse"/>
<fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="urn:authws.services.ecm.opentext.com:Authentication:AuthenticateWithToken:Fault:AuthenticationException"/>
</operation>
<operation name="AuthenticateWithTokenAndCode">
<input wsam:Action="urn:authws.services.ecm.opentext.com:Authentication:AuthenticateWithTokenAndCodeRequest" message="tns:AuthenticateWithTokenAndCode"/>
<output wsam:Action="urn:authws.services.ecm.opentext.com:Authentication:AuthenticateWithTokenAndCodeResponse" message="tns:AuthenticateWithTokenAndCodeResponse"/>
<fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="urn:authws.services.ecm.opentext.com:Authentication:AuthenticateWithTokenAndCode:Fault:AuthenticationException"/>
</operation>
<operation name="Authenticate">
<input wsam:Action="urn:authws.services.ecm.opentext.com:Authentication:AuthenticateRequest" message="tns:Authenticate"/>
<output wsam:Action="urn:authws.services.ecm.opentext.com:Authentication:AuthenticateResponse" message="tns:AuthenticateResponse"/>
<fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="urn:authws.services.ecm.opentext.com:Authentication:Authenticate:Fault:AuthenticationException"/>
</operation>
<operation name="AuthenticateWithPasswordAndCode">
<input wsam:Action="urn:authws.services.ecm.opentext.com:Authentication:AuthenticateWithPasswordAndCodeRequest" message="tns:AuthenticateWithPasswordAndCode"/>
<output wsam:Action="urn:authws.services.ecm.opentext.com:Authentication:AuthenticateWithPasswordAndCodeResponse" message="tns:AuthenticateWithPasswordAndCodeResponse"/>
<fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="urn:authws.services.ecm.opentext.com:Authentication:AuthenticateWithPasswordAndCode:Fault:AuthenticationException"/>
</operation>
<operation name="AuthenticateCurrentUser">
<input wsam:Action="urn:authws.services.ecm.opentext.com:Authentication:AuthenticateCurrentUserRequest" message="tns:AuthenticateCurrentUser"/>
<output wsam:Action="urn:authws.services.ecm.opentext.com:Authentication:AuthenticateCurrentUserResponse" message="tns:AuthenticateCurrentUserResponse"/>
<fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="urn:authws.services.ecm.opentext.com:Authentication:AuthenticateCurrentUser:Fault:AuthenticationException"/>
</operation>
<operation name="AuthenticateCurrentUserWithCode">
<input wsam:Action="urn:authws.services.ecm.opentext.com:Authentication:AuthenticateCurrentUserWithCodeRequest" message="tns:AuthenticateCurrentUserWithCode"/>
<output wsam:Action="urn:authws.services.ecm.opentext.com:Authentication:AuthenticateCurrentUserWithCodeResponse" message="tns:AuthenticateCurrentUserWithCodeResponse"/>
<fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="urn:authws.services.ecm.opentext.com:Authentication:AuthenticateCurrentUserWithCode:Fault:AuthenticationException"/>
</operation>
<operation name="GetResourceId">
<input wsam:Action="urn:authws.services.ecm.opentext.com:Authentication:GetResourceIdRequest" message="tns:GetResourceId"/>
<output wsam:Action="urn:authws.services.ecm.opentext.com:Authentication:GetResourceIdResponse" message="tns:GetResourceIdResponse"/>
<fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="urn:authws.services.ecm.opentext.com:Authentication:GetResourceId:Fault:AuthenticationException"/>
</operation>
<operation name="GetTicketForUser">
<input wsam:Action="urn:authws.services.ecm.opentext.com:Authentication:GetTicketForUserRequest" message="tns:GetTicketForUser"/>
<output wsam:Action="urn:authws.services.ecm.opentext.com:Authentication:GetTicketForUserResponse" message="tns:GetTicketForUserResponse"/>
<fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="urn:authws.services.ecm.opentext.com:Authentication:GetTicketForUser:Fault:AuthenticationException"/>
</operation>
</portType>
<binding name="AuthenticationPortBinding" type="tns:Authentication">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AuthenticateWithToken">
<soap:operation soapAction=""/>
<input>
<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
<soap:body use="literal"/>
</input>
<output>
<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
<soap:body use="literal"/>
</output>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal"/>
</fault>
</operation>
<operation name="AuthenticateWithTokenAndCode">
<soap:operation soapAction=""/>
<input>
<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
<soap:body use="literal"/>
</input>
<output>
<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
<soap:body use="literal"/>
</output>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal"/>
</fault>
</operation>
<operation name="Authenticate">
<soap:operation soapAction=""/>
<input>
<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
<soap:body use="literal"/>
</input>
<output>
<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
<soap:body use="literal"/>
</output>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal"/>
</fault>
</operation>
<operation name="AuthenticateWithPasswordAndCode">
<soap:operation soapAction=""/>
<input>
<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
<soap:body use="literal"/>
</input>
<output>
<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
<soap:body use="literal"/>
</output>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal"/>
</fault>
</operation>
<operation name="AuthenticateCurrentUser">
<soap:operation soapAction=""/>
<input>
<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
<soap:body use="literal"/>
</input>
<output>
<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
<soap:body use="literal"/>
</output>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal"/>
</fault>
</operation>
<operation name="AuthenticateCurrentUserWithCode">
<soap:operation soapAction=""/>
<input>
<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
<soap:body use="literal"/>
</input>
<output>
<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
<soap:body use="literal"/>
</output>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal"/>
</fault>
</operation>
<operation name="GetResourceId">
<soap:operation soapAction=""/>
<input>
<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
<soap:body use="literal"/>
</input>
<output>
<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
<soap:body use="literal"/>
</output>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal"/>
</fault>
</operation>
<operation name="GetTicketForUser">
<soap:operation soapAction=""/>
<input>
<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
<soap:body use="literal"/>
</input>
<output>
<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
<soap:body use="literal"/>
</output>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AuthenticationService">
<port name="AuthenticationPort" binding="tns:AuthenticationPortBinding">
<soap:address location="https://athene-au-fe1.inet-test.comp.db.de:443/otdsws/services/Authentication"/>
</port>
</service>
</definitions>