connectors/csws/wsdls/DocumentManagement1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Licensed to the Apache Software Foundation (ASF) under one or more
     contributor license agreements. See the NOTICE file distributed with
     this work for additional information regarding copyright ownership.
     The ASF licenses this file to You under the Apache License, Version 2.0
     (the "License"); you may not use this file except in compliance with
     the License. You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<!--
 Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. 
-->
<xs:schema xmlns:tns="urn:Core.service.livelink.opentext.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:Core.service.livelink.opentext.com">
<xs:complexType name="DataValue">
<xs:complexContent mixed="false">
<xs:extension base="tns:ServiceDataObject">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string"/>
<xs:element minOccurs="0" maxOccurs="1" name="Key" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ServiceDataObject" abstract="true"/>
<xs:complexType name="TableValue">
<xs:complexContent mixed="false">
<xs:extension base="tns:DataValue">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="unbounded" name="Values" type="tns:RowValue"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="RowValue">
<xs:complexContent mixed="false">
<xs:extension base="tns:DataValue">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="unbounded" name="Values" type="tns:DataValue"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="PrimitiveValue">
<xs:complexContent mixed="false">
<xs:extension base="tns:DataValue"/>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="StringValue">
<xs:complexContent mixed="false">
<xs:extension base="tns:PrimitiveValue">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="unbounded" name="Values" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="RealValue">
<xs:complexContent mixed="false">
<xs:extension base="tns:PrimitiveValue">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="unbounded" name="Values" nillable="true" type="xs:double"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="BooleanValue">
<xs:complexContent mixed="false">
<xs:extension base="tns:PrimitiveValue">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="unbounded" name="Values" nillable="true" type="xs:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="DateValue">
<xs:complexContent mixed="false">
<xs:extension base="tns:PrimitiveValue">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="unbounded" name="Values" nillable="true" type="xs:dateTime"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="IntegerValue">
<xs:complexContent mixed="false">
<xs:extension base="tns:PrimitiveValue">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="unbounded" name="Values" nillable="true" type="xs:long"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="BooleanObject">
<xs:complexContent mixed="false">
<xs:extension base="tns:ServiceDataObject">
<xs:sequence>
<xs:element minOccurs="1" maxOccurs="1" name="Value" type="xs:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ChunkedOperationContext">
<xs:complexContent mixed="false">
<xs:extension base="tns:ServiceDataObject">
<xs:sequence>
<xs:element minOccurs="1" maxOccurs="1" name="ChunkSize" nillable="true" type="xs:int"/>
<xs:element minOccurs="1" maxOccurs="1" name="ContextID" nillable="true" type="xs:int"/>
<xs:element minOccurs="1" maxOccurs="1" name="Finished" type="xs:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="PageHandle">
<xs:complexContent mixed="false">
<xs:extension base="tns:ServiceDataObject">
<xs:sequence>
<xs:element minOccurs="1" maxOccurs="1" name="FinalPage" type="xs:boolean"/>
<xs:element minOccurs="1" maxOccurs="1" name="NumberOfPages" nillable="true" type="xs:int"/>
<xs:element minOccurs="1" maxOccurs="1" name="PageHandleID" nillable="true" type="xs:int"/>
<xs:element minOccurs="1" maxOccurs="1" name="PageNumber" nillable="true" type="xs:int"/>
<xs:element minOccurs="1" maxOccurs="1" name="PageSize" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="Attachment">
<xs:sequence>
<xs:element minOccurs="1" maxOccurs="1" name="CreatedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" maxOccurs="1" name="FileName" type="xs:string"/>
<xs:element minOccurs="1" maxOccurs="1" name="FileSize" type="xs:long"/>
<xs:element minOccurs="1" maxOccurs="1" name="ModifiedDate" type="xs:dateTime"/>
<xs:element minOccurs="1" maxOccurs="1" name="Contents" nillable="true" type="xs:base64Binary"/>
</xs:sequence>
</xs:complexType>
</xs:schema>